.cardWrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.card {
  width: 40%;
  padding: 2rem;
  min-height: 13rem;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 2rem;
}

.button {
  margin-top: 2rem;
  position: absolute;
  bottom: 3rem;
}
