@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8e2dc;
  color: white;
  padding: 0 2rem;
}

.logo {
  font-family: "Satisfy", cursive;
  font-size: 1.7rem;
}

.signinLogin {
  display: flex;
}

.signin {
  margin-right: 0.5rem;
}

.login {
  margin-left: 0.5rem;
}
