.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.image {
  width: 70%;
}
