.cardWrapper {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.button {
  position: absolute;
  bottom: 3rem;
}

.input {
  margin: 0.5rem;
}

.modalBg {
  background-color: white;
  width: 40%;
  height: 65%;
  margin: 10% auto;
  border-radius: 5px;
  position: relative;
}

.forgotPw {
  margin-top: 1rem;
}

.errorMsg {
  border: 1px solid orangered;
  background-color: #fcb1a6;
  color: red;
  border-radius: 5px;
  padding: 0.3rem;
}
