.cardWrapper {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.card {
  width: 60%;
  min-height: 20rem;
  padding: 2rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContent p {
  margin: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.qButton {
  margin: 1rem;
}

.chocobo {
  width: 20%;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.moogle {
  width: 20%;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
